{% extends 'movie1/Header.html' %}
{% block a %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index1</title>
        {% load static %}
    </head>
    <body bgcolor="#a9a9a9">
    <img src="{{ movie.movie_logo }}" width="260" height="220">
    <h1>{{ movie.actor }}</h1>
    <h3>{{ movie.actor_movie }}(movie)</h3>


<ul>
    {% for song  in movie.song_set.all %}
        <li>
        {{ song.song_name }}
        {% if song.is_favorite %}
            <img src="{% static 'star_in_front_img.jpeg' %}" width="10" height="10"/>
        {% endif %}
        </li>
    {% endfor %}
</ul>


    </body>
    </html>
{% endblock %}