{% extends 'movie1/Header.html' %}
{% block title %} Register {% endblock %}
{%  block a %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Create new account</h3>
                        {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                    <form class="form-horizontal" role="form" action=" " method="post">
                        {% csrf_token %}
                        {% include 'movie1/form_temp.html' %}
                        <div class="form-group">
                            <div class="col-sum-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}